In [1]:
## 1.Import Libraries

import pandas as pd # data manipulation and analysis.
import numpy as np # mathematical operations
import matplotlib.pyplot as plt # plots visualizations
import seaborn as sns # HD plots graphics based on matplot
import scipy.stats as stats # statistical functions
from sklearn.preprocessing import OneHotEncoder # oneHotEncoder
from sklearn.preprocessing import MinMaxScaler # To normalize the data
from sklearn.model_selection import train_test_split
from sklearn import linear_model # Linear regression model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score # test the Machine Learning model
import warnings # Lastly... no more warnings... HURRAY !!!!
warnings.filterwarnings('ignore')

In [2]:
# 2.Define the Functions:

def explore_data():
    print("The dataframe shape is", data.shape, ".")
    print(" ")
    print("The dataframe columns are:")
    print(data.columns)
    print(" ")
    print("The dataframe data types are:")
    print(data.dtypes)

def cc(): # cleaning columns
    data.columns = cc = [column.lower().replace(' ', '_') for column in data] # standarizing the columns
    print(data.columns)
    print()

In [3]:
##Reading the Data
data = pd.read_csv('marketing_customer_analysis.csv') # Opening the Data
data.sample(5) # random sample

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
1128,KI55845,Oregon,13681.711780,No,Basic,College,2/18/11,Employed,F,55588,...,40,0,2,Personal Auto,Personal L2,Offer1,Branch,547.200000,SUV,Medsize
423,RE81445,Oregon,5734.598243,No,Basic,College,1/5/11,Employed,F,98132,...,61,0,3,Personal Auto,Personal L2,Offer3,Branch,50.587035,Two-Door Car,Medsize
8183,AT84725,Washington,4650.063763,Yes,Basic,College,1/10/11,Retired,M,28215,...,26,0,3,Personal Auto,Personal L3,Offer1,Agent,468.000000,Two-Door Car,Medsize
7079,KV79964,Arizona,9009.219409,No,Premium,Doctor,2/22/11,Employed,M,32260,...,99,0,4,Personal Auto,Personal L1,Offer1,Branch,601.124657,Four-Door Car,Medsize
2403,PU78245,Arizona,13094.608750,No,Basic,Bachelor,1/16/11,Employed,F,88249,...,71,0,2,Personal Auto,Personal L3,Offer1,Agent,244.803741,SUV,Large

In [5]:
##Explore the data
explore_data() # This will be the first summary of our data

The dataframe shape is (9134, 24) .

The dataframe columns are:
Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

The dataframe data types are:
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [7]:
# Cleaning the data
cc()

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

In [21]:
data.columns = cc = [column.lower().replace(' ', '_') for column in data] # standarizing the columns
print(data.columns)
print()

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

In [28]:
##Splitting data##
y = data['total_claim_amount'] ## It is the target value
X = data.drop(['total_claim_amount'], axis=1)
X.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [24]:
##Get the numerical data##
X_num = X.select_dtypes(include = np.number)
X_num

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,2763.519279,56274,69,32,5,0,1
1,6979.535903,0,94,13,42,0,8
2,12887.431650,48767,108,18,38,0,2
3,7645.861827,0,106,18,65,0,7
4,2813.692575,43836,73,12,44,0,1
...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2
9130,3096.511217,21604,79,14,28,0,1
9131,8163.890428,0,85,9,37,3,2
9132,7524.442436,21941,96,34,3,0,3
9133,2611.836866,0,77,3,90,0,1

In [25]:
##Normalize the numerical##
transformer = MinMaxScaler().fit(X_num) ### USE MINMAX FOR NORMALIZING
x_minmax = transformer.transform(X_num) #This is a an array of arrays
print(x_minmax.shape)

(9134, 7)

In [29]:
##Now check this in dataframe
num_norm = pd.DataFrame(x_minmax, columns=X_num.columns) # Selecting x_num.columns for our columns
num_norm.sample(5)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
875,0.079024,0.000000,0.075949,0.200000,0.727273,0.0,0.125
8043,0.065152,0.000000,0.143460,0.085714,0.292929,0.0,1.000
1105,0.005077,0.246457,0.000000,0.457143,0.575758,0.0,0.000
8662,0.095638,0.660345,0.751055,0.485714,0.808081,0.0,0.000
2652,0.411927,0.745742,0.206751,0.885714,0.202020,0.0,0.125

In [16]:
##One Hot/Label Encoding (categorical).##

In [26]:
#Take numericals and categories separately
X_num = X.select_dtypes(include = np.number)
X_cat = X.select_dtypes(include = 'object')

In [27]:
X_cat

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [57]:
##Categorise the columns (for checking)

In [102]:
data['employment_status'].unique()

KeyError: 'employment_status'

In [103]:
data['gender'].unique()

array(['F', 'M'], dtype=object)

In [104]:
data['marital_status'].unique()

array(['Married', 'Single', 'Divorced'], dtype=object)

In [69]:
data['response'].unique()

array(['No', 'Yes'], dtype=object)

In [70]:
data['coverage'].unique()

array(['Basic', 'Extended', 'Premium'], dtype=object)

In [71]:
data['education'].unique()

array(['Bachelor', 'College', 'Master', 'High School or Below', 'Doctor'],
      dtype=object)

In [72]:
data['sales_channel'].unique()

array(['Agent', 'Call Center', 'Web', 'Branch'], dtype=object)

In [73]:
data['policy'].unique()

array(['Corporate L3', 'Personal L3', 'Corporate L2', 'Personal L1',
       'Special L2', 'Corporate L1', 'Personal L2', 'Special L1',
       'Special L3'], dtype=object)

In [74]:
data['policy_type'].unique()

array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object)

In [75]:
data['location_code'].unique()

array(['Suburban', 'Rural', 'Urban'], dtype=object)

In [76]:
##Drop the columns which we think is not relavant or of low priority

In [77]:
X_cat= data.drop(columns=["customer", "state", "effective_to_date", "vehicle_class", "vehicle_size", "renew_offer_type"])

In [78]:
X_cat

,customer_lifetime_value,response,coverage,education,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,sales_channel,total_claim_amount
0,2763.519279,No,Basic,Bachelor,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Agent,384.811147
1,6979.535903,No,Extended,Bachelor,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Agent,1131.464935
2,12887.431650,No,Premium,Bachelor,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Agent,566.472247
3,7645.861827,No,Basic,Bachelor,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Call Center,529.881344
4,2813.692575,No,Basic,Bachelor,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Agent,138.130879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,No,Basic,Bachelor,Employed,M,71941,Urban,Married,73,18,89,0,2,Personal Auto,Personal L1,Web,198.234764
9130,3096.511217,Yes,Extended,College,Employed,F,21604,Suburban,Divorced,79,14,28,0,1,Corporate Auto,Corporate L3,Branch,379.200000
9131,8163.890428,No,Extended,Bachelor,Unemployed,M,0,Suburban,Single,85,9,37,3,2,Corporate Auto,Corporate L2,Branch,790.784983
9132,7524.442436,No,Extended,College,Employed,M,21941,Suburban,Married,96,34,3,0,3,Personal Auto,Personal L2,Branch,691.200000
9133,2611.836866,No,Extended,College,Unemployed,M,0,Suburban,Single,77,3,90,0,1,Corporate Auto,Corporate L3,Call Center,369.600000

In [79]:
##Preprocessing
##One hotEncoding with get dumies#

In [80]:
X_dumm = pd.get_dummies(X_cat, drop_first=False) # You can put X, not separating variables is needed.
X_dumm

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,response_No,response_Yes,...,policy_Personal L1,policy_Personal L2,policy_Personal L3,policy_Special L1,policy_Special L2,policy_Special L3,sales_channel_Agent,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web
0,2763.519279,56274,69,32,5,0,1,384.811147,1,0,...,0,0,0,0,0,0,1,0,0,0
1,6979.535903,0,94,13,42,0,8,1131.464935,1,0,...,0,0,1,0,0,0,1,0,0,0
2,12887.431650,48767,108,18,38,0,2,566.472247,1,0,...,0,0,1,0,0,0,1,0,0,0
3,7645.861827,0,106,18,65,0,7,529.881344,1,0,...,0,0,0,0,0,0,0,0,1,0
4,2813.692575,43836,73,12,44,0,1,138.130879,1,0,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764,1,0,...,1,0,0,0,0,0,0,0,0,1
9130,3096.511217,21604,79,14,28,0,1,379.200000,0,1,...,0,0,0,0,0,0,0,1,0,0
9131,8163.890428,0,85,9,37,3,2,790.784983,1,0,...,0,0,0,0,0,0,0,1,0,0
9132,7524.442436,21941,96,34,3,0,3,691.200000,1,0,...,0,1,0,0,0,0,0,1,0,0
9133,2611.836866,0,77,3,90,0,1,369.600000,1,0,...,0,0,0,0,0,0,0,0,1,0

In [81]:
##Concat
X_num = X.select_dtypes(include = np.number)
X_concat= pd.concat([X_num, X_dumm], axis=1)
X_concat.sample(10)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,customer_lifetime_value,income,monthly_premium_auto,...,policy_Personal L1,policy_Personal L2,policy_Personal L3,policy_Special L1,policy_Special L2,policy_Special L3,sales_channel_Agent,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web
6989,4349.104278,90893,110,33,0,0,1,4349.104278,90893,110,...,0,0,1,0,0,0,0,0,0,1
185,13117.522150,84311,111,11,98,4,2,13117.522150,84311,111,...,0,0,1,0,0,0,0,0,1,0
1600,7596.291531,59847,192,28,62,0,1,7596.291531,59847,192,...,0,0,0,0,0,0,0,0,1,0
2317,8296.176276,0,111,3,59,0,9,8296.176276,0,111,...,0,0,1,0,0,0,0,0,0,1
3232,8681.046339,0,86,6,57,2,2,8681.046339,0,86,...,1,0,0,0,0,0,0,1,0,0
4662,6414.081362,0,89,0,12,0,5,6414.081362,0,89,...,0,0,1,0,0,0,0,0,1,0
2737,3199.824902,78784,80,33,72,0,1,3199.824902,78784,80,...,0,0,1,0,0,0,1,0,0,0
3999,5096.673223,22886,65,9,81,0,3,5096.673223,22886,65,...,0,1,0,0,0,0,1,0,0,0
1703,5375.842787,69050,67,17,38,0,3,5375.842787,69050,67,...,0,1,0,0,0,0,0,0,0,1
6632,28328.465480,20799,111,20,28,0,2,28328.465480,20799,111,...,0,0,1,0,0,0,0,0,1,0

In [82]:
##Train Test Split(Define Train test for X and Y)##
### test_size =  30% for testing and 70% for training
##Test size is the ratio of original data which we can use as a test set
# random_state = it'll improve the model to divide always the model in the same way

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [84]:
len(X_dumm)*0.7 # Len before the test

6393.799999999999

In [85]:
len(X_test) # Len after the test

2741

In [86]:
#Some checks on splitted data
len (X)
len(X_train)
len(X_test)
X_train.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,customer_lifetime_value,income,monthly_premium_auto,...,policy_Personal L1,policy_Personal L2,policy_Personal L3,policy_Special L1,policy_Special L2,policy_Special L3,sales_channel_Agent,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web
434,5015.009472,48567,130,12,15,0,1,5015.009472,48567,130,...,0,0,0,0,0,0,1,0,0,0
4641,5149.301306,26877,131,5,2,0,1,5149.301306,26877,131,...,0,1,0,0,0,0,1,0,0,0
4952,4904.894731,12902,139,3,51,0,1,4904.894731,12902,139,...,0,0,1,0,0,0,1,0,0,0
1489,8510.525936,0,121,5,94,0,8,8510.525936,0,121,...,0,1,0,0,0,0,0,1,0,0
812,3278.531880,70247,83,13,19,1,1,3278.531880,70247,83,...,0,1,0,0,0,0,0,0,1,0

In [87]:
## Apply Linear Regression

In [88]:
model = LinearRegression()## Model is linear Regression
model.fit(X_train,y_train)## Fit the training data in to Model defined

LinearRegression()

In [89]:
##Model Validation
predictions  = model.predict(X_test)

In [90]:
predictions ## It should give an array of predictions

array([218.598065, 447.79344 , 451.2     , ..., 652.8     , 150.878447,
       452.616872])

In [91]:
predictions.shape

(2741,)

In [92]:
y_test ## array of data from our target

708     218.598065
47      447.793440
3995    451.200000
1513    355.641958
3686    470.097411
           ...
4271    518.400000
7923    650.521790
5633    652.800000
8432    150.878447
681     452.616872
Name: total_claim_amount, Length: 2741, dtype: float64

In [ ]:
##Model Validation
##Description:
R2.
MSE.
RMSE.
MAE.

In [96]:
r2 = r2_score(y_test, predictions)
RMSE = mean_squared_error(y_test, predictions, squared=False)
MSE = mean_squared_error(y_test, predictions)

In [94]:
adj_r2 = (1 - (1 - r2) * ((X_concat.shape[0] - 1) / 
          (X_concat.shape[0] - X_concat.shape[1] - 1)))
print("r2 = ", r2)
print("RMSE = ", RMSE)
print("MSE = ", MSE)
print("Adj r2 = ", adj_r2)

r2 =  1.0
RMSE =  9.530625437039444e-11
MSE =  9.08328212211433e-21
Adj r2 =  1.0

In [95]:
data['total_claim_amount'].describe()

count    9134.000000
mean      434.088794
std       290.500092
min         0.099007
25%       272.258244
50%       383.945434
75%       547.514839
max      2893.239678
Name: total_claim_amount, dtype: float64